body {
  font-family: sans-serif;
  color: white;
}

main {
  background-color: lightseagreen;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.selections,
.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 32px;
}

.selections {
  width: 50%;
}

.selections img {
  width: 33%;
  border-radius: 10px;
  cursor: pointer;
}

.score-box {
  width: 100px;
  height: 100px;
  background-color: white;
  color: lightseagreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}